body
{
    text-align: center;
}

#buttons
{
    margin-top: 25%;
    height: 20%;
    display: inline-block;
}

#click, #hide, #show, #color
{
    width: 200px;
    height: 75px;
    position: relative;
    float:left;
    font-weight: 400;
    font-size: 1,5em;
    font-family: Arial, Helvetica, sans-serif;
    background: white;
    border: 1px solid rgb(0, 0, 0);
    line-height: 70px;
    text-align: center;
    margin: 0 5px 0 5px;
    cursor: pointer;
}
